{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h2>앨범 활동 내역</h2>
  <hr>
  <img src="{% static 'images/chung.PNG' %}">
  <h2>{{ musician.name }}</h2>
  <hr>
  {% for album in albums %}
    <p>앨범명 : {{album.album}}</p>
    <p>발매일자 : {{album.date}}</p>
    <hr>
  {% endfor %}
  <form action="{% url 'musicians:delete' musician.pk %}" method="post">
    {% csrf_token %}
    <input type="submit" value="삭제하기">
  </form>
</body>
</html>